.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/.DS_Store
data/.DS_Store
data/inputs/.DS_Store
data/outputs/eastern-parks-RRatepol-standardized-inputs.zip
data/outputs/2022-09-06-eastern-parks-RRatepol-standardized-inputs.zip
data/outputs/2022-09-07-EasternPaleoParksRRatepolInputs.zip
